.search-container{
    background-color: rgba(0, 0, 0, 0.705);
    text-align: center;
    padding: 5px 0;
}
.search-container input{
    width: 70%;
    padding: 5px; 
    outline: none;
    background-color: lightgray;
    
}